- hosts: vm-cicd-server
  gather_facts: no
  vars:
    # Update the actual ssh port in inventory and then define new ssh port
    docker_compose_gitlab_ssh_port: 2222
    docker_compose_gitlab_image_version: 18.6.0-ce.0
    docker_compose_gitlab_root_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          39616435613338366266333763663463636135373265313735376637646532336362396131343666
          6335326535646463356461316465393635383630646131610a373630633833353639313333376338
          36616132336336363563383137343536393032343862383637313764643332366465333235303564
          3333326337613430390a313163353739343537396364326136333832636639393835323231633936
          3539
    docker_compose_gitlab_domain: "gitlab.{{ docker_compose_services_domain }}"
    docker_compose_gitlab_registry_domain: "gitlab-registry.{{ docker_compose_services_domain }}"
    docker_compose_gitlab_labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gitlab.rule=Host(`{{ docker_compose_gitlab_domain }}`)"
      - "traefik.http.routers.gitlab.entrypoints=https"
      - "traefik.http.routers.gitlab.tls=true"
      - "traefik.http.routers.gitlab.tls.certresolver=cloudflare"
      - "traefik.http.services.gitlab.loadbalancer.server.port=80"
      - "traefik.http.routers.gitlab.service=gitlab"
      - "traefik.http.routers.gitlab-registry.rule=Host(`{{ docker_compose_gitlab_registry_domain }}`)"
      - "traefik.http.routers.gitlab-registry.entrypoints=https"
      - "traefik.http.routers.gitlab-registry.tls=true"
      - "traefik.http.routers.gitlab-registry.tls.certresolver=cloudflare"
      - "traefik.http.routers.gitlab-registry.service=gitlab-registry"
      - "traefik.http.services.gitlab-registry.loadbalancer.server.port=5050"
      - "traefik.docker.network=services"

  pre_tasks:
  # Configure custom SSH port
    - name: Set configured port fact
      set_fact:
        configured_port: "{{ docker_compose_gitlab_ssh_port }}"
    
    - name: Check if we're using the default SSH port (inventory)
      wait_for:
        port: "{{ ansible_port }}"
        state: "started"
        host: "{{ ansible_host }}"
        connect_timeout: "5"
        timeout: "10"
      delegate_to: "localhost"
      ignore_errors: "yes"
      register: docker_compose_gitlab_default_ssh
    
    # If reachable, continue the following tasks with this port
    - name: Set inventory ansible_port to default
      set_fact:
        ansible_port: "{{ ansible_port }}"
      when: docker_compose_gitlab_default_ssh is defined and
            not docker_compose_gitlab_default_ssh.failed
      register: docker_compose_gitlab_ssh_port_set
    
    # If unreachable on port from inventory, check if we're able to reach
    # {{ inventory_hostname }} on {{ docker_compose_gitlab_ssh_port }}
    # from localhost
    - name: Check if we're using the variable-provided SSH port
      wait_for:
        port: "{{ docker_compose_gitlab_ssh_port }}"
        state: "started"
        host: "{{ ansible_host }}"
        connect_timeout: "5"
        timeout: "10"
      delegate_to: "localhost"
      ignore_errors: "yes"
      register: configured_ssh
      when: docker_compose_gitlab_default_ssh is defined and
            docker_compose_gitlab_default_ssh.failed

    - name: SSH port is configured properly
      debug:
        msg: "SSH port is configured properly"
      when: configured_ssh is defined and
            configured_ssh.state is defined and
            configured_ssh.state == "started"
      register: docker_compose_gitlab_ssh_port_set
    
    # If the SSH port is neither the default or the configured, give up.
    - name: Fail if SSH port was not auto-detected (unknown)
      fail:
        msg: "The SSH port is neither 22 or {{ docker_compose_gitlab_ssh_port }}."
      when: docker_compose_gitlab_ssh_port_set is undefined
    
    - name: Set inventory ansible_port to configured
      set_fact:
        ansible_port: "{{ configured_port }}"
      when: configured_ssh is defined and
            configured_ssh.state is defined and
            configured_ssh.state == "started"

    # Sanity check, make sure Ansible is able to connect to the host
    - name: Confirm host connection works
      ping:
    
    - name: Setup alternate SSH port
      lineinfile:
        dest: "/etc/ssh/sshd_config"
        regexp: "^Port"
        line: "Port {{ docker_compose_gitlab_ssh_port }}"
      become: true
      register: docker_compose_gitlab_sshd_config
    
    - name: Restart ssh.socket
      ansible.builtin.service:
        name: ssh.socket
        state: restarted
        daemon_reload: true
      become: true
      when: docker_compose_gitlab_sshd_config.changed
    
    # We're done, make sure ansible_port is set properly so that any tasks
    # after this use the right ansible_port.
    - name: Ensure we use the configured SSH port for the remainder of the role
      set_fact:
        ansible_port: "{{ docker_compose_gitlab_ssh_port }}"
    
    # Gather facts should be set to false when running this role since it will
    # fail if the Ansible SSH port is not set correctly.
    # We run setup to gather facts here once the SSH port is set up.
    - name: Run deferred setup to gather facts
      setup:


  roles:
    - role: prometheus.prometheus.node_exporter
      become: yes
      tags: [ node_exporter ]
    - role: geerlingguy.docker
      become: yes
      tags: [ docker ]
    - role: docker-compose-traefik
      tags: [ traefik ]
    - role: docker-compose-gitlab
      tags: [ gitlab ]
