- hosts: storage-node
  roles:
    - role: cron-jobs
      vars:
        rsync_backup_jobs:
        # Paperless 15 23 5 * *
          - {
              rsync_backup_source: "/mnt/raid1/paperless",
              rsync_backup_user: "admin",
              rsync_backup_host: "192.168.1.249",
              rsync_backup_destination: "/mnt/storage/backups/{{ inventory_hostname }}",
              rsync_backup_cron_state: "present",
              rsync_backup_minute: "15",
              rsync_backup_hour: "23",
              rsync_backup_day: "5"
            }
        # Immich 50 23 5 * *
          - {
              rsync_backup_source: "/mnt/raid1/immich",
              rsync_backup_user: "admin",
              rsync_backup_host: "192.168.1.249",
              rsync_backup_destination: "/mnt/storage/backups/{{ inventory_hostname }}",
              rsync_backup_cron_state: "present",
              rsync_backup_minute: "50",
              rsync_backup_hour: "23",
              rsync_backup_day: "5"
            }
        # Vaultwarden 25 23 5 * *
          - {
              rsync_backup_source: "/mnt/raid1/vaultwarden",
              rsync_backup_user: "admin",
              rsync_backup_host: "192.168.1.249",
              rsync_backup_destination: "/mnt/storage/backups/{{ inventory_hostname }}",
              rsync_backup_cron_state: "present",
              rsync_backup_minute: "25",
              rsync_backup_hour: "23",
              rsync_backup_day: "5"
            }
        # Minio 30 23 5 * *
          - {
              rsync_backup_source: "/opt/minio",
              rsync_backup_user: "admin",
              rsync_backup_host: "192.168.1.249",
              rsync_backup_destination: "/mnt/storage/backups/{{ inventory_hostname }}",
              rsync_backup_cron_state: "present",
              rsync_backup_minute: "30",
              rsync_backup_hour: "23",
              rsync_backup_day: "5"
            }
      tags: [ storage-node-cron ]

- hosts: vm-backup-server
  gather_facts: no
  tasks:
    - name: Create cron task - BTRFS scrub
      ansible.builtin.cron:
        name: "BTRFS scrub"
        job: "btrfs scrub start -Bd /mnt/storage"
        user: root
        state: present
        minute: "0"
        hour: "0"
        day: "1"
        month: "*"
        weekday: "*"
      become: true
      tags: [ backup-server ]
