name: traefik

services:
  traefik:
    image: traefik:{{ docker_compose_templates_traefik_image_version }}
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
      - services
    ports:
      - 80:80
      - 443:443
    environment:
      CF_DNS_API_TOKEN: {{ docker_compose_templates_traefik_cf_api_token }}
      CF_API_EMAIL: {{ docker_compose_templates_traefik_cf_api_email }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - {{ docker_compose_templates_traefik_config_dir }}/traefik.yml:/traefik.yml:ro
      - {{ docker_compose_templates_traefik_config_dir }}/{{ docker_compose_templates_traefik_certificates_file }}:/acme.json
      #- {{ docker_compose_templates_traefik_certificates_dir }}/{{ docker_compose_templates_traefik_certificates_file }}:/acme.json
      # - {{ docker_compose_templates_traefik_config_dir }}/config.yml:/config.yml:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.entrypoints=http"
      - "traefik.http.routers.traefik.rule=Host(`traefik-{{ ansible_hostname }}.s5n.dev`)"
      - "traefik.http.middlewares.traefik-auth.basicauth.users={{ docker_compose_templates_traefik_dashboard_credentials }}"
      - "traefik.http.middlewares.traefik-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.routers.traefik.middlewares=traefik-https-redirect"
      - "traefik.http.routers.traefik-secure.entrypoints=https"
      - "traefik.http.routers.traefik-secure.rule=Host(`traefik-{{ ansible_hostname }}.s5n.dev`)"
      - "traefik.http.routers.traefik-secure.middlewares=traefik-auth"
      - "traefik.http.routers.traefik-secure.tls=true"
      - "traefik.http.routers.traefik-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.traefik-secure.service=api@internal"

networks:
  proxy:
    name: proxy
    external: true
  services:
    name: services
    external: true
