global:
  scrape_interval:     15s
  evaluation_interval: 15s

  #external_labels:
  #    monitor: 'my-project'
  
rule_files:
  - 'rules/*.rules'

alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets:
      - "alertmanager:9093"

scrape_configs:
{% if docker_compose_prometheus_scrape_config_node_exporter_targets %}
  - job_name: node-exporter
    scrape_interval: 2s
    static_configs:
       - targets: {{ docker_compose_prometheus_scrape_config_node_exporter_targets }}
{% endif %}
{% if docker_compose_prometheus_scrape_config_smartctl_exporter_targets %}
  - job_name: smartctl-exporter
    scrape_interval: 15s
    static_configs:
       - targets: {{ docker_compose_prometheus_scrape_config_smartctl_exporter_targets }}
{% endif %}
{% if docker_compose_prometheus_scrape_config_cadvisor_targets %}
  - job_name: cadvisor
    scrape_interval: 2s
    static_configs:
       - targets: {{ docker_compose_prometheus_scrape_config_cadvisor_targets }}
{% endif %}
