[defaults]

inventory = inventory.yaml

# Ansible resolves role names by searching roles_path directories left to right, first match wins. So ./roles/ is searched first.
# To bypass the roles_path resolution use the explicit path in the playbook when you need the subfolder version. Example:
# - role: docker-compose-services/gitlab
roles_path = ./roles/:./roles/docker-compose-services/

collections_path = ./collections/
remote_user = admin
vault_password_file = ansible-vault
